ACTION=="add", SUBSYSTEM=="rtc", ATTR{hctosys}=="1", RUN+="/sbin/hwclock --systz --rtc=/dev/%k"
ACTION=="add", SUBSYSTEM=="rtc", ATTR{hctosys}=="0", RUN+="/sbin/hwclock --hctosys --rtc=/dev/%k"
ACTION=="add", ENV{MAJOR}=="10", ENV{MINOR}=="135", RUN+="/sbin/hwclock --hctosys --rtc=/dev/%k"
