[Unit]
Description=Load legacy module configuration
DefaultDependencies=no
Conflicts=shutdown.target
Before=basic.target shutdown.target emergency.service emergency.target
#Conflicts=sysinit.service
After=udev.service
Requires=udev.service
ConditionFileExists=/etc/rc.modules
ConditionDirectoryNotEmpty=/etc/sysconfig/modules/

[Service]
ExecStart=/lib/systemd/fedora-loadmodules
Type=oneshot
TimeoutSec=0
RemainAfterExit=yes
