[Unit]
Description=Initialize storage subsystems (RAID, LVM, etc.)
DefaultDependencies=no
Conflicts=shutdown.target
Before=shutdown.target local-fs.target emergency.service emergency.target
After=fedora-wait-storage.service fedora-init-crypto-1.service
Requires=fedora-wait-storage.service fedora-init-crypto-1.service

[Service]
ExecStart=/lib/systemd/fedora-storage-init
Type=oneshot
TimeoutSec=0
RemainAfterExit=yes
