[Unit]
Description=Initialize storage subsystems (RAID, LVM, etc.)
DefaultDependencies=no
Conflicts=shutdown.target
After=cryptsetup.target fedora-storage-init.service
Before=local-fs.target shutdown.target
ConditionFileIsExecutable=|/sbin/lvm
ConditionFileIsExecutable=|/sbin/dmraid
ConditionPathExists=|/etc/multipath.conf

[Service]
ExecStart=/lib/systemd/fedora-storage-init
Type=oneshot
TimeoutSec=0
RemainAfterExit=yes
