[Unit]
Description=Wait for storage scan
DefaultDependencies=no
Conflicts=shutdown.target
Before=local-fs.target shutdown.target emergency.service emergency.target
After=udev-settle.service
Requires=udev.service udev-settle.service

[Service]
ExecStart=-/sbin/rmmod scsi_wait_scan
ExecStart=-/sbin/modprobe scsi_wait_scan
ExecStart=-/sbin/rmmod scsi_wait_scan
Type=oneshot
TimeoutSec=0
RemainAfterExit=yes
