[Unit]
Description=Check, mount, and relabel all filesystems
DefaultDependencies=no
Conflicts=shutdown.target
Before=shutdown.target emergency.service emergency.target remount-rootfs.service
After=fedora-storage-init.service fedora-init-crypto-2.service
Requires=fedora-storage-init.service fedora-init-crypto-2.service

[Service]
ExecStart=/lib/systemd/fedora-mountall
Type=oneshot
TimeoutSec=0
RemainAfterExit=yes
StandardInput=tty
