[Unit]
Description=Read and set NIS domainname from /etc/sysconfig/network
Before=ypbind.service yppasswdd.service ypserv.service ypxfrd.service

[Service]
ExecStart=/lib/systemd/fedora-domainname
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
