[Unit]
Description=Initialize encrypted storage
DefaultDependencies=no
Conflicts=shutdown.target
Before=shutdown.target emergency.service emergency.target
After=fedora-wait-storage.service
Requires=fedora-wait-storage.service

[Service]
ExecStart=/lib/systemd/fedora-init-crypto 0
Type=oneshot
TimeoutSec=0
RemainAfterExit=yes
StandardInput=tty
