[Unit]
Description=Initialize storage subsystems (RAID, LVM, etc.)
DefaultDependencies=no
Conflicts=shutdown.target
After=fedora-wait-storage.service
Before=local-fs.target shutdown.target
Wants=fedora-wait-storage.service

[Service]
ExecStart=/lib/systemd/fedora-storage-init
Type=oneshot
TimeoutSec=0
RemainAfterExit=yes
