[Unit]
Description=Enable all detected swap partitions
DefaultDependencies=no
Conflicts=shutdown.target
Before=shutdown.target emergency.service emergency.target
After=local-fs.target
Requires=local-fs.target

[Service]
ExecStart=/lib/systemd/fedora-autoswap
Type=oneshot
TimeoutSec=0
RemainAfterExit=yes
