[Unit]
Description=Wait for storage scan
DefaultDependencies=no
Conflicts=shutdown.target
After=systemd-udev-settle.service
Before=local-fs.target shutdown.target
Wants=systemd-udev.service systemd-udev-settle.service

[Service]
ExecStart=-/sbin/rmmod scsi_wait_scan
ExecStart=-/sbin/modprobe scsi_wait_scan
ExecStart=-/sbin/rmmod scsi_wait_scan
Type=oneshot
TimeoutSec=0
RemainAfterExit=yes
StandardInput=null
StandardOutput=null
StandardError=null
