[Unit]
Description=Bootup unhack
DefaultDependencies=no
Conflicts=shutdown.target
Before=shutdown.target
After=fedora-sysinit-hack.service sysinit.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=-/bin/rm -f /dev/.in_sysinit
