[Unit]
Description=Configure the system if the administrator requested it
DefaultDependencies=no
Conflicts=shutdown.target
Before=shutdown.target emergency.service emergency.target
After=fedora-mountall.service fedora-init-crypto-3.service
Requires=fedora-mountall.service fedora-init-crypto-3.service

[Service]
ExecStart=/lib/systemd/fedora-swapon
Type=oneshot
TimeoutSec=0
RemainAfterExit=yes
