[Unit]
Description=Initialize encrypted filesystems on top of other storage
DefaultDependencies=no
Conflicts=shutdown.target
Before=shutdown.target emergency.service emergency.target
After=systemd-random-seed-load.service
Requires=systemd-random-seed-load.service
ConditionPathExists=/etc/crypttab

[Service]
ExecStart=/lib/systemd/fedora-init-crypto 1
Type=oneshot
TimeoutSec=0
RemainAfterExit=yes
StandardInput=tty
