[Unit]
Description=Clean out assorted temporary files
DefaultDependencies=no
Conflicts=shutdown.target
Before=shutdown.target emergency.service emergency.target local-fs.target
After=fedora-mountall.service fedora-readonly.service
Requires=fedora-mountall.service

[Service]
ExecStart=/lib/systemd/fedora-cleanup
Type=oneshot
TimeoutSec=0
RemainAfterExit=yes
