[Unit]
Description=Configure read-only root support
DefaultDependencies=no
Conflicts=shutdown.target
Before=shutdown.target emergency.service emergency.target systemd-tmpfiles-setup.service local-fs.target systemd-random-seed.service
After=systemd-remount-fs.service

[Service]
ExecStart=/usr/lib/systemd/rhel-readonly
Type=oneshot
TimeoutSec=0
RemainAfterExit=yes

[Install]
WantedBy=local-fs.target
