[Unit]
Description=Reconfigure the system on administrator request
DefaultDependencies=no
Conflicts=shutdown.target
Before=multi-user.target shutdown.target
After=local-fs.target
ConditionPathExists=/.unconfigured

[Service]
ExecStart=/usr/lib/systemd/rhel-configure
ExecStopPost=/bin/rm -f /.unconfigured
Type=oneshot
TimeoutSec=0
StandardInput=tty
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
