[Unit]
Description=Load legacy module configuration
DefaultDependencies=no
Conflicts=shutdown.target
After=systemd-readahead-collect.service systemd-readahead-replay.service
Before=sysinit.target shutdown.target
ConditionPathExists=|/etc/rc.modules
ConditionDirectoryNotEmpty=|/etc/sysconfig/modules/

[Service]
ExecStart=/usr/lib/systemd/rhel-loadmodules
Type=oneshot
TimeoutSec=0
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
