[Unit]
Description=Read and set NIS domainname from /etc/sysconfig/network
Before=ypbind.service yppasswdd.service ypserv.service ypxfrd.service sysinit.target
DefaultDependencies=no
Conflicts=shutdown.target

[Service]
ExecStart=/usr/lib/systemd/rhel-domainname
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
