[Unit]
Description=Dump dmesg to /var/log/dmesg
After=basic.target
ConditionVirtualization=!container

[Service]
Type=oneshot
ExecStart=/usr/lib/systemd/rhel-dmesg
RemainAfterExit=yes

[Install]
WantedBy=basic.target
