[Unit]
Description=System initialization placeholder
DefaultDependencies=no
Conflicts=shutdown.target
Before=shutdown.target emergency.service emergency.target

[Service]
ExecStart=/bin/true
Type=oneshot
RemainAfterExit=yes
