
[Unit]
Description=System Initialization
DefaultDependencies=no
Conflicts=shutdown.target
Before=shutdown.target emergency.service emergency.target
After=local-fs.target

[Service]
ExecStart=/bin/true
Type=oneshot
TimeoutSec=0
RemainAfterExit=yes
