[Unit]
Description=System Initialization End
DefaultDependencies=no
Conflicts=shutdown.target
Before=shutdown.target emergency.service emergency.target
After=sysinit.target
Conflicts=sysinit.service

[Service]
ExecStart=/etc/rc.d/rcS.d/990-sysinitend.sh
Type=finish
TimeoutSec=0
ValidNoProcess=yes

[Install]
WantedBy=sysinit.target
