[Unit]
Description=System Initialization
DefaultDependencies=no
Conflicts=shutdown.target
Before=shutdown.target emergency.service emergency.target
After=rcS-multipath.service
Before=rcS-initcrypto2.service
Conflicts=sysinit.service

[Service]
ExecStart=/etc/rc.d/rcS.d/150-dmraid.sh
Type=forking
TimeoutSec=0
ValidNoProcess=yes

[Install]
WantedBy=sysinit.target
