[Unit]
Description=System Initialization
DefaultDependencies=no
Conflicts=shutdown.target
Before=shutdown.target emergency.service emergency.target
After=rcS-mountall.service
Conflicts=sysinit.service

[Service]
ExecStart=/etc/rc.d/rcS.d/330-dmesg.sh
Type=finish
TimeoutSec=0
ValidNoProcess=yes

[Install]
WantedBy=sysinit.target
