[Unit]
Description=System Initialization
DefaultDependencies=no
Conflicts=shutdown.target
Before=shutdown.target emergency.service emergency.target
After=udev-settle.service
Conflicts=sysinit.service

[Service]
ExecStart=/etc/rc.d/rcS.d/190-mountall.sh
Type=oneshot
TimeoutSec=0
StandardInput=tty
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
